body {
  background: #300303;
}

p {
  /* color/ size */
  color: #ffffff;
  font-size: 18px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5b5b5;
}

.navbarStyle {
  float: left;
  display: block;
  font-olor: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarStyle:hover {
  background-color: #6b6b6b;
}
