body {
  background: #300303;
}

p {
  /* color/ size */
  color: #ffffff;
  font-size: 18px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5b5b5;
}

.navbarStyle {
  float: left;
}

.navbarStyle a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 22px;
  text-decoration: none;
}

.navbarStyle:hover {
  background-color: linear-gradient(-45deg, #693425, #52152c, #0a3240, #0b4739);
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
